<!DOCTYPE html>
<html lang="ja" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>
<body>
    <div class="container">
        {{content}}
    </div>
    <script type="text/javascript">
    $(function() {
        console.log('layouts.html');
        var app=angular.module('app', []);
        app.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
        }]);
    });
    </script>
</body>
</html>
